* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "hanken";
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")format("truetype");
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "hanken";
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    width: 100%;
    max-height: 40rem;
    height: 100%;
}
.first {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(#6F00FF,blue);
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
h1 {
    font-size: 4rem;
}
.first h1,h3,h5 {
    color: white;
}
.para {
    padding: 0 2rem;
    text-align: center;
}
.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#33006F,blue);
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}
.second {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1.5rem;
    gap: 1rem;
    height: 60%;
}
.logo-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
button {
    width: 100%;
    background-color: #082567;
    padding: 1rem;
    color: white;
    border-radius: 2rem;
}
.second h3 {
    align-self: flex-start;
    color: black;
}
.reaction {
    color: red;
}
.memory {
    color: #FEBE10;
}
.verbal {
    color: green;
}
.visual {
    color: blue;
}
.rate {
    color: black;
}
@media only screen and (min-width: 31.25rem) {
.container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    width: 100%;
    max-height: 30rem;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 1px 1px 30px lightblue;
}
.first {
    width: 50%;
    height: 100%;
    border-radius: 2rem;
}
.second {
    width: 50%;
    height: 100%;
    justify-content:space-between;
    border-radius: 2rem;
}
.tab {
    padding: 1rem;
}
}